RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule   ^(.*)$   images.php?file=$1 [L]

AddType video/webm .webm
AddType video/ogg .ogv
AddType video/mp4 .mp4